::placeholder {
  color: var(--text-color-transparent);
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

body {
  color: var(--text-color);
  background-color: #e5eef7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}
